@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
body {
    background-color: rgb(248, 248, 248);
}
* {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    padding: 0;
    cursor: default;
}
a{
    cursor: pointer;
}
a *{
    cursor: pointer;
}
#main {
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:flex-start;
    padding-top: 60px;
    height: 600px;
    width: 100%;
}
    #main button {
        margin:15px;
        font-size: 18pt;
        color: rgba(255,255,255,0);
        writing-mode: vertical-lr;
        text-align: left;
        line-height: 350%;
        padding: 5px;
        width: 189px;
        height: 191px;
        padding-bottom: 15%;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        border: none;
        border-radius: 5px;
        box-shadow: 4px 4.5px 3.5px 1px rgba(0, 0, 0,0.3);
        border-radius: 5px;
        background-color: white;
        font-weight: bold;
        margin-top: 10px;
        cursor: pointer;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px #7d8e95;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform color;
        transition-property: transform color;
        box-shadow: 6px 3px 18px #7d8e95;
    }
        #main button:before {
            content: " ";
            border-radius: 5px;
            border-width: 0px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(60, 40, 0,0.9);
            transition: transform 0.5s;
            transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.75);
            transform-origin: 0 0;
            transform: scaleX(0);
            z-index: -1;
        }
#main button:hover::before {
    transform: scaleX(0.3);
}

        #main button:hover {
            transition-duration: 0.3s;
            transition-property: color transform;
            transform: scale(1.05);
            opacity: 0.9;
            background-size: cover;
            background-repeat: no-repeat;
            color: white;
        }
menu {
    z-index: 4;
    position: fixed;
    background-color: rgba(255, 255, 255,0.9);
    box-shadow: 0px 0.1px 0.1px 1px rgba(0, 0, 0,0.1);
    transition-duration: 0.3s;
    transition-property: background-color;
    height: 60px;
    width: 100%;
    top: 0%;
}
    menu:hover {
        transition-duration: 0.3s;
        transition-property: background-color;
        background-color: rgba(255, 255, 255,1);
    }
    menu div {
        display: flex;
        justify-content: left;
        align-items: center;
        position:relative;
        height: 100%;
        width: 60%;
        left: 20%;
    }
    menu .link{
        width: auto;
        height: auto;
        padding: 0;
        font-size: 16px;
    height: 50px; /* 設定元素的高度 */
    line-height: 50px; /* 設定與元素高度相同的行高 */
    text-align: center; /* 讓文字水平置中 */
    display: inline-block; /* 保證元素可以調整寬高 */
    padding: 0 10px; /* 可選的左右內間距 */
    }
.menu {
    background: none;
    height: 100%;
    cursor: pointer;
    padding: 10px;
    border: none;
    color: rgb(88, 88, 88);
}
    .menu:hover{
        background-color:rgb(248, 248, 248);
    }
        .menu:hover .dropdown-menu {
            display: block;
        }
.subtitle {
    height: 30px;
}
.dropdown-menu {
    border-radius: 5px;
    background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1));
    background-size: contain;
    background-position-y: 275px;
    background-repeat: no-repeat;
    top: 60px;
    cursor: default;
    display: none;
    position: absolute;
    border: 1px solid #ddd;
    list-style-type: none;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
    background-color: white;
    padding: 20px;
    text-align: left;
}
#name {
    color: black;
    font-size: 12pt;
    font-weight:bold;
}
#socialmedia {
    display: flex;
    height: 50px;
    justify-content: flex-start;
    left:0;
}
.socialimg {
    width: 30px;
    height: 30px;
    
}
    .socialimg img {
        width: 100%;
        height: 100%;
    }
    .socialimg:hover {
        transition: transform 0.5s;
        transition-timing-function: cubic-bezier(0.5,5,0.4,0.75);
        transform: scale(1.1);
    }
    .dropdown-menu li {
        font-size: 10pt;
    }
    .dropdown-menu span {
        color: gray;
        font-size: 10pt;

    }
    .menu-list:hover {
        background-color: rgb(248, 248, 248);
        cursor:pointer;
    }
a {
    display: block;
    text-decoration: none;
    color: #333;
    width: 100%;
    height: 100%;
    padding: 10px 5px;
}
footer {
    margin-top: auto;
    width: 100%;
    background-color: rgb(51, 51, 51);
    height: 200px;
}
#picture {
    width: 110px;
    height: 110px;
    border-radius: 50%;

}
.webp #picture{
    background-color: aqua;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url("../public/imgs/picture.webp");
	background-size: 250px;
	background-repeat:no-repeat;
    background-position: center;
    transition-duration: 0.3s;
    transition-property: background transform;
  }
  
.no-webp #picture {
    background-color: aqua;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url("../public/imgs/picture.webp");
	background-size: 250px;
	background-repeat:no-repeat;
    background-position: center;
    transition-duration: 0.3s;
    transition-property: background transform;
}
    #picture:hover {
        transform: scale(1.05);
        background-position: -50px;
        transition-duration: 0.3s;
        transition-property: background transform;
    }
    #picture-column {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 110px;
    }
#MyName {
    margin: 2% 0 10% 0;
    font-weight:800;
    font-size:32pt;
    display: flex;
    justify-content: center;
    color: white;
}
#banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(100vh - 60px);
    z-index: 2;
    background-size: cover;
    background-position: 50% 50%;
}
.webp #banner{
    background-image: url('../public/imgs/output.webp');
  }
  
.no-webp #banner {
background-image: url('../public/imgs/banner.jpg');
}
#banner::after{
    content: '';
    position: absolute;
    z-index: 2;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    transition: .3s;
}
#banner:hover::after{
    background-color: rgba(0, 0, 0, 0.1);
    transition: .3s;
}
#banner:hover #banner-div{
    transform: translateY(-5px);
    transition: .3s;
}
#banner-div{
    position: relative; /* 確保它的 z-index 可以生效 */
    z-index: 3; /* 確保 #banner-div 在最上層 */
    transition: .3s;
}
#scroll{
    z-index: 4;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
#scroll p{
    color: white;
    font-size: 15px;
    padding-bottom: 56px;
    transform: scale(0.75);
    animation: scrollTextAnimate 2.5s infinite;
}
.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(0deg);
    cursor: pointer;
}

.arrow span {
    display: block;
    width: .5vw;
    height: .5vw;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2.5s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.4s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.6s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}
@keyframes scrollTextAnimate {
    0% {
        opacity: 1;
        transform: translate(0px, -20px);
    }
    10%{
        transform: translate(0px, -25px);
    }
    50% {
    }
    70%{
        opacity: 1;
        transform: translate(0px, -5px);
    }
    100% {
        opacity: 0;
        transform: translate(0px, -15px);
    }
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
}

#works{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 3rem 4.5rem 6rem;
    position: relative;
    width: 40%;
    text-align: center;
    flex-wrap: wrap;
}
.w_item{
    width: 100%;
}
.w_item img{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    max-width: 100%;
    height: auto;
}
@media screen and (max-width:480px) {
    .dropdown-menu{
        width: 100%;
        left: 0;
    }
    #banner{
        height: calc(100vh - 130px);
    }
    #works{
        width: 70%;
    }
}